{% extends "layout.html" %}
{% block title %}
  Makale Detayi
{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
  <h1 class="mt-2 mb-2">{{article.title}}</h1>
  <div class="mt-2 mb-3">
    <img src="
    {% if article.article_img %}
      {{article.article_img.url}}
    {% else %}
      {% static 'images/image_news.jpg' %}
    {% endif %}
    " alt="{{article.title}}">
  </div>
  <div class="mb-2">
        <span class="text-muted">Yazar: {{article.author.username}}</span>
        <span class="text-muted mx-3">|</span>
        <span class="text-muted">Tarih: {{article.created_date}}</span>
  </div>
  <div class="content">
    <p>{{article.content|safe}}</p>
  </div>

  <hr>
  <h3>Yorumlar</h3>
  {% for comment in article.comments.all %}
    <div>
        <strong>{{comment.author.username}}</strong> - {{comment.created_at}}
        <p>{{comment.content}}</p>
    </div>
    {% empty %}
    <div class="alert alert-danger">Henüz yorum yapılmamış. Siz ilk yorumu yapınız.</div>
  {% endfor %}
  
  <h2>Yorum Yazınız:</h2>
  {% if user.is_authenticated %}
   <form method="post">
      {% csrf_token %}
      {{form|crispy}}
      <button class="btn btn-primary" type="submit">Youmu Gönder</button>
   </form>
  {% else %}
    <p>Yorum yapmak için önce <a class="btn btn-outline-danger btn-sm" href="{% url 'user:login' %}?next={{request.path}}">giriş yapmalısınız.</a></p>
  {% endif %}

{% endblock body %}